@inherits BasePage
@page "/manage/chrono"
@page "/manage/chrono/{ContestName}/{GUID}"


<RadzenDataList AllowPaging=false PageSize="5"
                Data="@chronos" TItem="FLL.Data.Models.Chrono">
    <Template Context="item">
        <div class="d-flex flex-row flex-wrap">
            <RadzenText Text=@item.Name class="my-auto mx-1" />
            <RadzenCheckBox Value=@item.Running class="my-auto mx-1" Disabled=true/>
            <RadzenText Text=@($"{item.Remaining:N1} [s]") class="my-auto mx-1" />
            <RadzenButton Text="Reset" Click=@(() => ChronoService.Reset(item)) class="my-auto mx-1" />
            <RadzenButton Text="Start" Click=@(() => ChronoService.Start(item)) class="my-auto mx-1" Disabled=item.Running />
            <RadzenButton Text="Stop" Click=@(() => ChronoService.Stop(item)) class="my-auto mx-1" Disabled=!item.Running />
            <RadzenButton Text="Show" Click=@(() => ChronoService.Show(item)) class="my-auto mx-1" Disabled=item.IsVisible />
            <RadzenButton Text="Hide" Click=@(() => ChronoService.Hide(item)) class="my-auto mx-1" Disabled=!item.IsVisible />
            <RadzenLink Text="Open in new tab" Target="_blank" Path=@(GetPath(item)) class="my-auto mx-1" />
        </div>
    </Template>
</RadzenDataList>
